<template>
  <div>
    <div class="d-flex flex-column-fluid">
      <!--begin::Container-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-12 col-xl-12">
                <div class="card card-custom gutter-b bg-transparent shadow-none border-0">
                  <div class="card-header align-items-center border-bottom-dark px-0">
                    <div class="card-title mb-0">
                      <h3 class="card-label mb-0 font-weight-bold text-body">Dealers</h3>
                    </div>
                    <div class="icons d-flex">
                      <button
                        class="btn ml-2 p-0 kt_notes_panel_toggle"
                        data-toggle="tooltip"
                        title
                        data-placement="right"
                        data-original-title="Check out more demos"
                        v-if="$parent.permissions.includes('product-unit-list')"
                      >
                        <span
                          class="h-30px font-size-h5 w-30px d-flex align-items-center justify-content-center rounded-circle shadow-sm"
                          v-on:click="
                                                        display_form = !display_form
                                                    "
                          style="background-color:#034a81"
                        >
                          <svg
                            width="25px"
                            height="25px"
                            viewBox="0 0 16 16"
                            class="bi bi-plus white"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                            ></path>
                          </svg>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card card-custom gutter-b bg-white border-0">
                  <div class="card-body">
                    <div>
                      <div class="table-responsive" id="printableTable">
                        <div id="DealerUnitTable_wrapper" class="dataTables_wrapper no-footer">
                           <div class="dataTables_length" id="dealerUnitTable_length">
                            <label>
                              Show
                              <select
                                name="dealerUnitTable_length"
                                aria-controls="dealerUnitTable"
                                class
                                v-model="limit"
                                v-on:change="fetchDealers()"
                              >
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                              </select> entries
                            </label>
                          </div>

                           <div id="dealerUnitTable_filter" class="dataTables_filter">
                            <label>
                              Search:
                              <input
                                type="search"
                                class
                                placeholder
                                aria-controls="dealerUnitTable"
                                v-model="searchParameter"
                                @keyup="fetchDealers()"
                              >
                            </label>
                          </div>
                          <table
                            id="dealerUnitTable"
                            class="display dataTable no-footer"
                            role="grid"
                          >
                            <thead class="text-body">
                              <tr role="row">
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="dealerUnitTable"
                                  rowspan="1"
                                  colspan="1"
                                  aria-sort="ascending"
                                  aria-label="ID: activate to sort column descending"
                                  style="width: 31.25px;"
                                  @click="sorting('id')"
                                  :class="(this.$data.sortType == 'asc' || this.$data.sortType == 'ASC') && this.$data.sortBy == 'id'  ? 'sorting_asc' : (this.$data.sortType == 'desc' || this.$data.sortType == 'DESC') && this.$data.sortBy == 'id' ? 'sorting_desc' : 'sorting'"
                                >ID</th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="dealerUnitTable"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="unit: activate to sort column ascending"
                                  style="width: 95.5288px;"
                                  @click="sorting('org_name')"
                                  :class="(this.$data.sortType == 'asc' || this.$data.sortType == 'ASC') && this.$data.sortBy == 'org_name'  ? 'sorting_asc' : (this.$data.sortType == 'desc' || this.$data.sortType == 'DESC') && this.$data.sortBy == 'name' ? 'sorting_desc' : 'sorting'"
                                >Organisation Name</th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="dealerUnitTable"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="unit: activate to sort column ascending"
                                  style="width: 95.5288px;"
                                  @click="sorting('contact_per_name')"
                                  :class="(this.$data.sortType == 'asc' || this.$data.sortType == 'ASC') && this.$data.sortBy == 'contact_per_name'  ? 'sorting_asc' : (this.$data.sortType == 'desc' || this.$data.sortType == 'DESC') && this.$data.sortBy == 'name' ? 'sorting_desc' : 'sorting'"
                                >Contact Name</th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="dealerUnitTable"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="unit: activate to sort column ascending"
                                  style="width: 95.5288px;"
                                  @click="sorting('mobile')"
                                  :class="(this.$data.sortType == 'asc' || this.$data.sortType == 'ASC') && this.$data.sortBy == 'mobile'  ? 'sorting_asc' : (this.$data.sortType == 'desc' || this.$data.sortType == 'DESC') && this.$data.sortBy == 'name' ? 'sorting_desc' : 'sorting'"
                                >Mobile</th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="dealerUnitTable"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="unit: activate to sort column ascending"
                                  style="width: 95.5288px;"
                                  @click="sorting('email')"
                                  :class="(this.$data.sortType == 'asc' || this.$data.sortType == 'ASC') && this.$data.sortBy == 'email'  ? 'sorting_asc' : (this.$data.sortType == 'desc' || this.$data.sortType == 'DESC') && this.$data.sortBy == 'name' ? 'sorting_desc' : 'sorting'"
                                >Email</th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="dealerUnitTable"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="unit: activate to sort column ascending"
                                  style="width: 95.5288px;"
                                  @click="sorting('city')"
                                  :class="(this.$data.sortType == 'asc' || this.$data.sortType == 'ASC') && this.$data.sortBy == 'city'  ? 'sorting_asc' : (this.$data.sortType == 'desc' || this.$data.sortType == 'DESC') && this.$data.sortBy == 'name' ? 'sorting_desc' : 'sorting'"
                                >City</th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="dealerUnitTable"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="unit: activate to sort column ascending"
                                  style="width: 95.5288px;"
                                  @click="sorting('address')"
                                  :class="(this.$data.sortType == 'asc' || this.$data.sortType == 'ASC') && this.$data.sortBy == 'address'  ? 'sorting_asc' : (this.$data.sortType == 'desc' || this.$data.sortType == 'DESC') && this.$data.sortBy == 'name' ? 'sorting_desc' : 'sorting'"
                                >Address</th>
                                <th
                                  class="no-sort sorting_disabled"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Action"
                                  style="width: 53.1891px;"
                                  v-if="$parent.permissions.includes('product-unit-manage')"
                                >Action</th>
                              </tr>
                            </thead>
                            <tbody class="kt-table-tbody text-dark">
                              <tr
                                class="kt-table-row kt-table-row-level-0 odd"
                                role="row"
                                v-for="dealer in dealers"
                                v-bind:key="dealer.dealer_id"
                              >
                                <td class="sorting_1">{{dealer.id}}</td>
                                <td>{{dealer.org_name}}</td>
                                <td>{{dealer.contact_per_name}}</td>
                                <td>{{dealer.mobile}}</td>
                                <td>{{dealer.email}}</td>
                                <td>{{dealer.city}}</td>
                                <td>{{dealer.address}}</td>
                                <td v-if="$parent.permissions.includes('product-unit-manage')">
                                  <a
                                    href="javascript:void(0)"
                                    class="click-edit"
                                    id="click-edit1"
                                    data-toggle="tooltip"
                                    title
                                    data-placement="right"
                                    data-original-title="Check out more demos"
                                    @click="editdealer(dealer)"
                                    style="font-size:16px"
                                  >
                                    <i class="fa fa-edit"></i>
                                  </a>
                                  <a
                                    style="font-size:16px;margin-left:8px"
                                    class
                                    href="#"
                                    @click="deletedealer(dealer.id)"
                                  >
                                    <i class="fa fa-trash"></i>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          <!--                           <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item">
                                <button
                                  type="button"
                                  class="page-link"
                                  v-if="page != 1"
                                  @click="page--"
                                >Previous</button>
                              </li>
                              <li class="page-item">
                                <button
                                  type="button"
                                  class="page-link"
                                  v-for="pageNumber in pages.slice(page-1, page+5)"
                                  @click="page = pageNumber"
                                >{{pageNumber}}</button>
                              </li>
                              <li class="page-item">
                                <button
                                  type="button"
                                  @click="page++"
                                  v-if="page < pages.length"
                                  class="page-link"
                                >Next</button>
                              </li>
                            </ul>
                          </nav>-->

                           <ul class="pagination pagination-sm m-0 float-right">
                            <li v-bind:class="[{disabled: !pagination.prev_page_url}]">
                              <button
                                class="page-link"
                                href="#"
                                @click="fetchDealers(pagination.prev_page_url)"
                              >Previous</button>
                            </li>

                            <li class="disabled">
                              <button
                                class="page-link text-dark"
                                href="#"
                              >Page {{ pagination.current_page }} of {{ pagination.last_page }}</button>
                            </li>

                            <li
                              v-bind:class="[{disabled: !pagination.next_page_url}]"
                              class="page-item"
                            >
                              <button
                                class="page-link"
                                href="#"
                                @click="fetchDealers(pagination.next_page_url)"
                              >Next</button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="offcanvas offcanvas-right kt-color-panel p-5 kt_notes_panel"
      v-if="display_form"
      :class="display_form ? 'offcanvas-on' : ''"
    >
      <div class="offcanvas-header d-flex align-items-center justify-content-between pb-3">
        <h4 class="font-size-h4 font-weight-bold m-0">{{dealer.id ? 'Edit':'Add'}} Dealer</h4>

        <a
          href="#"
          class="btn btn-sm btn-icon btn-light btn-hover-primary kt_notes_panel_close"
          v-on:click="handleClose"
        >
          <svg
            width="20px"
            height="20px"
            viewBox="0 0 16 16"
            class="bi bi-x"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            ></path>
          </svg>
        </a>
      </div>
      <form id="myform">
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <div class="col-md-6">
                <label class="text-dark" style="margin:7px">Organization Name</label>
                <input
                  type="text"
                  :name="dealer.org_name"
                  v-model="dealer.org_name"
                  class="form-control"
                >
                <!-- <small
                  class="form-text text-danger"
                  v-if="errors.has('org_name')"
                  v-text="errors.get('org_name')"
                ></small>-->
                <h6 style="color:red;margin:4px">{{errors_new.org_error}}</h6>
              </div>
              <div class="col-md-6">
                <label class="text-dark" style="margin:7px">Contact Person Name</label>
                <input
                  type="text"
                  :name="dealer.contact_per_name"
                  v-model="dealer.contact_per_name"
                  class="form-control"
                >
                <!--  <small
                  class="form-text text-danger"
                  v-if="errors.has('contact_per_name')"
                  v-text="errors.get('contact_per_name')"
                ></small>-->
                <h6 style="color:red;margin:4px">{{errors_new.cont_error}}</h6>
              </div>
              <div class="col-md-6">
                <label class="text-dark" style="margin:7px">Mobile Number 1</label>
                <input
                  type="number"
                  :name="dealer.mobile"
                  v-model="dealer.mobile"
                  class="form-control"
                >
                <!--   <small
                  class="form-text text-danger"
                  v-if="errors.has('mobile')"
                  v-text="errors.get('mobile')"
                ></small>-->
                <h6 style="color:red;margin:4px">{{errors_new.mob1_error}}</h6>
              </div>
              <div class="col-md-6">
                <label class="text-dark" style="margin:7px">Mobile Number 2</label>
                <input
                  type="number"
                  :name="dealer.alt_mobile"
                  v-model="dealer.alt_mobile"
                  class="form-control"
                >
                <!--  <small
                  class="form-text text-danger"
                  v-if="errors.has('alt_mobile')"
                  v-text="errors.get('alt_mobile')"
                ></small>-->
                <h6 style="color:red;margin:4px">{{errors_new.mob2_error}}</h6>
              </div>
              <div class="col-md-6">
                <label class="text-dark" style="margin:7px">Landline</label>
                <input
                  type="number"
                  :name="dealer.landline"
                  v-model="dealer.landline"
                  class="form-control"
                >
                <h6 style="color:red;margin:4px">{{errors_new.land_error}}</h6>
              </div>
              <div class="col-md-6">
                <label class="text-dark" style="margin:7px">Email</label>
                <input
                  type="email"
                  :name="dealer.email"
                  v-model="dealer.email"
                  class="form-control"
                  aria-describedby="emailHelp"
                >
                <!-- <small
                  class="help is-danger text-danger"
                  v-if="errors.has('email')"
                  v-text="errors.get('email')"
                ></small>-->
                <h6 style="color:red;margin:4px">{{errors_new.email_error}}</h6>
              </div>
              <div class="col-md-12">
                <label class="text-dark" style="margin:7px">Address</label>
                <!-- <input
                  type="text"
                  :name="dealer.address"
                  v-model="dealer.address"
                  class="form-control"
                >-->
                <textarea
                  id="label-textarea"
                  :name="dealer.address"
                  rows="6"
                  name="notes"
                  v-model="dealer.address"
                  spellcheck="false"
                  class="form-control"
                  style="height: 130px"
                ></textarea>
                <h6 style="color:red;margin:4px">{{errors_new.address_error}}</h6>
              </div>
              <div class="col-md-6">
                <label class="text-dark" style="margin:7px">City</label>
                <input type="text" :name="dealer.city" v-model="dealer.city" class="form-control">
                <h6 style="color:red;margin:4px">{{errors_new.city_error}}</h6>
              </div>
              <div class="col-md-6">
                <label class="text-dark" style="margin:7px">Latitude</label>
                <input
                  type="number"
                  :name="dealer.latitude"
                  v-model="dealer.latitude"
                  class="form-control"
                >
                <!--  <small
                  class="form-text text-danger"
                  v-if="errors.has('latitude')"
                  v-text="errors.get('latitude')"
                ></small>-->
                <h6 style="color:red;margin:4px">{{errors_new.latitude_error}}</h6>
              </div>
              <div class="col-md-6">
                <label class="text-dark" style="margin:7px">Longitude</label>
                <input
                  type="number"
                  :name="dealer.longitude"
                  v-model="dealer.longitude"
                  class="form-control"
                >
                <!-- <small
                  class="form-text text-danger"
                  v-if="errors.has('longitude')"
                  v-text="errors.get('longitude')"
                ></small>-->
                <h6 style="color:red;margin:4px">{{errors_new.longitude_error}}</h6>
              </div>
              <div class="col-md-6">
                <label class="text-dark" style="margin:7px">Pincode</label>
                <input
                  type="number"
                  :name="dealer.pincode"
                  v-model="dealer.pincode"
                  class="form-control"
                >
                <!--  <small
                  class="form-text text-danger"
                  v-if="errors.has('pincode')"
                  v-text="errors.get('pincode')"
                ></small>-->
                <h6 style="color:red;margin:4px">{{errors_new.pincode_error}}</h6>
              </div>
            </div>
          </div>
        </div>
        <button type="button" @click="addUpdateDealer()" class="btn btn-primary" style="background-color: #034a81">Submit</button>
      </form>
    </div>
  </div>
</template>

<script>
import ErrorHandling from "./../../ErrorHandling";
export default {
  data() {
    return {
      display_form: 0,
      unit: {
        id: "",
        name: [],
        language_id: [],
        is_active: "0"
      },
      dealer: {
        id: "",
        org_name: "",
        contact_per_name: "",
        mobile: "",
        alt_mobile: "",
        landline: "",
        email: "",
        address: "",
        city: "",
        pincode: "",
        latitude: "",
        longitude: ""
      },
      dealers: [],
      searchParameter: "",
      sortBy: "id",
      sortType: "ASC",
      limit: 10,
      error_message: "",
      edit: false,
      actions: false,
      pagination: {},
      request_method: "",
      countrySelected: "",
      stateSelected: "",
      units: [],
      languages: [],
      token: [],
      selectedLanguage: "",
      errors: new ErrorHandling(),
      errors_new: {
        org_error: "",
        cont_error: "",
        mob1_error: "",
        mob2_error: "",
        land_error: "",
        email_error: "",
        city_error: "",
        address_error: "",
        pincode_error: "",
        latitude_error: "",
        longitude_error: ""
      },
      posts: [""],

      page: 1,
      perPage: 9,
      pages: [],
      csrf: document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content")
    };
  },

  methods: {
    handleClose() {
      this.display_form = 0;
      this.clearForm();
    },
    fetchLanguages() {
      this.$parent.loading = true;
      var token = localStorage.getItem("token");
      const config = {
        headers: {
          Authorization: `Bearer ${token}`
        }
      };
      var responseData = {};

      axios
        .get("https://bluelife.co.in/public/api/admin/language?limit=500", config)
        .then(res => {
          if (res.data.status == "Success") {
            this.languages = res.data.data;
            for (var i = 0; i < res.data.data.length; i++) {
              this.unit.language_id.push(res.data.data[i].id);
              if (res.data.data[i].is_default) {
                this.selectedLanguage = res.data.data[i].id;
              }
            }
          }
        })
        .finally(() => (this.$parent.loading = false));
    },

    fetchDealers(page_url) {
      console.log("page_url", page_url);
      this.$parent.loading = true;
      let vm = this;
      page_url =
        page_url ||
        "https://vote.localballot.in/bluelife/public/api/client/dealers";
      console.log(page_url, this.token);
 var arr = page_url.split("?");

      if (arr.length > 1) {
        page_url += "&limit=" + this.limit;
      } else {
        page_url += "?limit=" + this.limit;
      }
      if (this.searchParameter != null) {
        page_url += "&searchParameter=" + this.searchParameter;
      }
      page_url +=
        "&sortBy=" +
        this.sortBy +
        "&sortType=" +
        this.sortType +
        "&getDetail=1";
      var responseData = {}
            console.log(page_url, this.token);

      axios
        .get(page_url, this.token)
        .then(res => {
          this.dealers = res.data.data;
          console.log("dealers", this.dealers);
          vm.makePagination(res.data.meta, res.data.links);
        })
        .finally(() => (this.$parent.loading = false));
    },

    /*  fetchunits(page_url) {
      this.$parent.loading = true;
      let vm = this;
      page_url = page_url || "/api/admin/unit";
      var arr = page_url.split("?");

      if (arr.length > 1) {
        page_url += "&limit=" + this.limit;
      } else {
        page_url += "?limit=" + this.limit;
      }
      if (this.searchParameter != null) {
        page_url += "&searchParameter=" + this.searchParameter;
      }
      page_url +=
        "&sortBy=" +
        this.sortBy +
        "&sortType=" +
        this.sortType +
        "&getDetail=1";
      var responseData = {};

      axios
        .get(page_url, this.token)
        .then(res => {
          this.units = res.data.data;
          vm.makePagination(res.data.meta, res.data.links);
        })
        .finally(() => (this.$parent.loading = false));
    }, */

    makePagination(meta, links) {
      let pagination = {
        current_page: meta.current_page,
        last_page: meta.last_page,
        next_page_url: links.next,
        prev_page_url: links.prev
      };

      this.pagination = pagination;
    },
    deletedealer(id) {
      if (confirm("Are You Sure?")) {
        this.$parent.loading = true;
        axios
          .get(
            `https://vote.localballot.in/bluelife/public/api/client/deletedealers/${id}`,
            this.token
          )
          .then(res => {
            console.log(res);
            if (res.data.status == "Success") {
              this.$toaster.success("Dealers deleted successfully");
              this.fetchDealers();
            }
          })
          .catch(error => {
            console.log(error);
            if (error.response.status == 422) {
              if (error.response.data.status == "Error") {
                this.$toaster.error(error.response.data.message);
              }
            }
          })
          .finally(() => (this.$parent.loading = false));
      }
    },

    addUpdateDealer() {
      var url =
        "https://vote.localballot.in/bluelife/public/api/client/adddealers";
      if (this.edit === false) {
        // Add
        this.request_method = "post";
      } else {
        // Update
        var url =
          "https://vote.localballot.in/bluelife/public/api/client/updatedealers/" +
          this.dealer.id;

        this.request_method = "post";
      }
      console.log(this.edit);
      console.log("dealers are", this.dealer);
      console.log(this.request_method, (url, this.dealer, this.token));
      if (this.dealer.org_name == "") {
        this.errors_new.org_error = "organistion filed is required";
      } else if (this.dealer.contact_per_name == "") {
        this.errors_new.cont_error = "name filed is required";
        this.errors.new.org_error = "";
      } else if (this.dealer.mobile == "") {
        this.errors_new.mob1_error = "mobile filed is required";
        this.errors_new.cont_error = "";
      } else if (this.dealer.alt_mobile == "") {
        this.errors_new.mob2_error = "mobile filed is required";
        this.errors_new.mob1_error = "";
      } else if (this.dealer.landline == "") {
        this.errors_new.land_error = "landline filed is required";
        this.errors_new.mob2_error = "";
      } else if (this.dealer.email == "") {
        this.errors_new.email_error = "email field is required";
        this.errors_new.land_error = "";
      } else if (this.dealer.city == "") {
        this.errors_new.city_error = "city field is required";
        this.errors_new.email_error = "";
      } else if (this.dealer.address == "") {
        this.errors_new.address_error = "address filed is required";
        this.errors_new.city_error = "";
      } else if (this.dealer.latitude == "") {
        this.errors_new.latitude_error = "latitude filed is required";
        this.errors_new.address_error = "";
      } else if (this.dealer.longitude == "") {
        this.errors_new.longitude_error = "longitude filed is required";

        this.errors_new.latitude_error = "";
      } else if (this.dealer.pincode == "") {
        this.errors_new.pincode_error = "pincode filed is required";
        this.errors_new.longitude_error = "";
      } else {
        this.$parent.loading = true;
        this.errors_new.pincode_error = "";

        axios[this.request_method](url, this.dealer, this.token)
          .then(res => {
            console.log("dealerunit", res);
            if (res.data.status == "Success") {
              this.display_form = 0;
              if(this.edit==false){
              this.$toaster.success("Dealers added successfully");

              }else{
              this.$toaster.success("Dealers has been updated successfully");
              }
              this.clearForm();
              this.fetchDealers();
            } else {
              this.$toaster.error(res.data.message);
            }
          })
          .catch(error => {
            console.log("error", error);
            this.error_message = "";
            this.errors = new ErrorHandling();
            if (error.response.status == 422) {
              if (error.response.data.status == "Error") {
                this.error_message = error.response.data.message;
              } else {
                this.errors.record(error.response.data.errors);
              }
            }
          })
          .finally(() => (this.$parent.loading = false));
      }
    },
    editdealer(dealer) {
      this.edit = true;
      this.display_form = 1;
      this.errors = new ErrorHandling();
      this.dealer.id = dealer.id;
      this.$parent.loading = true;
      axios
        .get(
          `https://vote.localballot.in/bluelife/public/api/client/editdealers/${
            dealer.id
          }`,
          this.token
        )
        .then(res => {
          console.log("editres", res);
          if (res.data.status == "Success") {
            var editdata = res.data.data[0];
            console.log("dealer", this.dealer);
            this.dealer.org_name = editdata.org_name;
            this.dealer.contact_per_name = editdata.contact_per_name;
            this.dealer.mobile = editdata.mobile;
            this.dealer.alt_mobile = editdata.alt_mobile;
            this.dealer.landline = editdata.landline;
            this.dealer.email = editdata.email;
            this.dealer.address = editdata.address;
            this.dealer.city = editdata.city;
            this.dealer.latitude = editdata.latitude;
            this.dealer.longitude = editdata.longitude;
            this.dealer.pincode = editdata.pincode;
            console.log("dealer", this.dealer);
          }
        })
        .catch(err => console.log(err))
        .finally(() => (this.$parent.loading = false));
    },
    clearForm() {
      this.edit = false;
      this.dealer.id = null;
      this.dealer.org_name = "";
      this.dealer.contact_per_name = "";
      this.dealer.mobile = "";
      this.dealer.alt_mobile = "";
      this.dealer.landline = "";
      this.dealer.address = "";
      this.dealer.city = "";
      this.dealer.latitude = "";
      this.dealer.longitude = "";
      this.dealer.pincode = "";
      /* this.unit.name = [];
      this.unit.is_active = "inactive"; */
    },
    sorting(sortBy) {
      this.sortBy = sortBy;
      this.sortType =
        this.sortType == "asc" || this.sortType == "ASC"
          ? (this.sortType = "desc")
          : (this.sortType = "asc");
      this.fetchDealers();
    },
    setSelectedLanguage(selectedLanguage) {
      this.selectedLanguage = selectedLanguage;
      console.log("i am clicked", selectedLanguage);
    }
    /* setPages () {
      let numberOfPages = Math.ceil(this.posts.length / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    },
    paginate (posts) {
      let page = this.page;
      let perPage = this.perPage;
      let from = (page * perPage) - perPage;
      let to = (page * perPage);
      return  dealers.slice(from, to);
    } */
  },
  mounted() {
    var token = localStorage.getItem("token");
    this.token = {
      headers: {
        Authorization: `Bearer ${token}`
      }
    };
    // this.fetchunits();
    this.fetchDealers();
    this.fetchLanguages();
  }
};
</script>
