
/** image-bg css for Uaques **/


.main-slider .top-text:before{
  position: absolute;
  content: '';
  background: url(../images/icons/wave-icon-1.png);
  width: 33px;
  height: 8px;
  left: 0px;
  top: 10px;
  background-repeat: no-repeat;
}

.sec-title h1:before{
  position: absolute;
  content: '';
  background: url(../images/icons/wave-icon-2.png);
  width: 33px;
  height: 8px;
  right: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
}

.feature-section .feature-block:before{
  position: absolute;
  content: '';
  background: url(../images/icons/wave-icon-3.png);
  width: 11px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
  background-repeat: no-repeat;
}

.composition-section .upper-content .inner-box .single-item .icon-box:before{
  position: absolute;
  content: '';
  background: url(../images/icons/icon-1.png);
  width: 80px;
  height: 5px;
  top: 50px;
  background-repeat: no-repeat;
}

.composition-section .lower-content .single-item:before {
  position: absolute;
  content: '';
  background: url(../images/icons/wave-icon-3.png);
  width: 11px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  background-repeat: no-repeat;
}

.news-block-one .inner-box .lower-content .inner .info-box:before {
  position: absolute;
  content: '';
  background: url(../images/icons/icon-1.png);
  width: 80px;
  height: 5px;
  left: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
}

.main-slider.style-two:before{
  position: absolute;
  content: '';
  background: url(../images/icons/wave-1.png);
  width: 100%;
  height: 143px;
  left: 0px;
  bottom: 0px;
  background-repeat: repeat-x;
  z-index: 2;
}

#content_block_three .inner-box h2:before{
  position: absolute;
  content: '';
  background: url(../images/icons/icon-1.png);
  width: 80px;
  height: 5px;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  background-repeat: no-repeat;
}

.fact-counter .counter-block:before {
  position: absolute;
  content: '';
  background: url(../images/icons/wave-icon-3.png);
  width: 11px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
  background-repeat: no-repeat;
}

.filtration-process .single-item h3:before {
  position: absolute;
  content: '';
  background: url(../images/icons/wave-icon-2.png);
  width: 33px;
  height: 8px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  background-repeat: no-repeat;
}

.page-title:before {
  position: absolute;
  content: '';
  background: url(../images/icons/wave-1.png);
  width: 100%;
  height: 143px;
  left: 0px;
  bottom: 0px;
  background-repeat: repeat-x;
}

.faq-section .faq-title:before {
  position: absolute;
  content: '';
  background: url(../images/icons/wave-icon-2.png);
  width: 33px;
  height: 8px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  background-repeat: no-repeat;
}

.default-sidebar .widget-title:before {
  position: absolute;
  content: '';
  background: url(../images/icons/wave-icon-2.png);
  width: 33px;
  height: 8px;
  left: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
}

.shop-details .product-info-tabs .tab-btns li:before{
  position: absolute;
  content: '';
  background: url(../images/icons/wave-icon-2.png);
  width: 0px;
  height: 8px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  background-repeat: no-repeat;
  transition: all 500ms ease;
}

.blog-details-content .group-title:before {
  position: absolute;
  content: '';
  background: url(../images/icons/wave-icon-2.png);
  width: 33px;
  height: 8px;
  left: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
}

.contact-section .title-text:before {
  position: absolute;
  content: '';
  background: url(../images/icons/wave-icon-2.png);
  width: 33px;
  height: 8px;
  left: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
}

.preloader{
  position: fixed; 
  left:0px;
  top:0px;
  height:100%;
  width: 100%;
  z-index:999999;
  background-color:#fff;
  background-position:center center;
  background-repeat:no-repeat;
  background-image:url(../images/bluelife/logo.png);
}