<template>
<div>
  <div class="card card-custom gutter-b bg-white border-0">
    <div class="card-header border-0 align-items-center">
      <h3 class="card-label mb-0 font-weight-bold text-body">
        Seo
      </h3>
    </div>
    <div class="card-body" id="printableTable">
      <div class="row">
        <div class="col-md-6 col-12">
          <h6 class="text-body">Seo Meta Tags</h6>
          <fieldset class="form-group mb-3">
            <input type="text" v-on:input="setSeoMetaTag($event.target.value)" class="form-control bg-transparent text-dark" v-model="seo_meta_tag" placeholder="Seo meta tags" />
            <small class="form-text text-danger" v-if="errors.has('seo_meta_tag')" v-text="errors.get('seo_meta_tag')"></small>
          </fieldset>
        </div>
        <div class="col-md-6 col-12">
          <h6 class="text-body">Seo Description</h6>
          <fieldset class="form-group mb-3">
            <input type="text" v-on:input="setSeoDesc($event.target.value)" class="form-control bg-transparent text-dark" v-model="seo_desc" placeholder="Seo Description" />
            <small class="form-text text-danger" v-if="errors.has('seo_desc')" v-text="errors.get('seo_desc')"></small>
          </fieldset>
        </div>
                <div class="col-md-6 col-12">
                           <!--  <h6 class="text-body">File Upload</h6>
                            <button class="btn btn-info" @click="onPickFile">Upload profile picture</button>

                            <input type="file" id="test" name="test" accept=".pdf,.doc"/> -->
  <label for="myfile">Select a file:</label>
  <input type="file" id="myfile" name="myfile" style="display:block"  accept=".pdf,.doc"  @change="onFileChange"><br><br>

</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <a href="#" data-toggle="pill" @click.prevent="setActive('ad-info-tab')" :class="{ active: isActive('ad-info-tab') }" class="btn btn-dark swipe-to-top cta "
                style="background-color: #034a81; border-color: #034a81"
>Back</a>
      <a href="#" data-toggle="pill" @click.prevent="addProduct()" class="btn btn-primary  ml-2"           style="background-color: #034a81; border-color: #034a81"
>Save</a>
    </div>
  </div>
</div>
</template>

<script>
export default {
  data() {
    return {
      'seo_meta_tag':'',
      'seo_desc':'',
      'file':'',
        supported_extension: ['pdf'],

    };
  },

  methods: {
    isActive(value) {
        this.$emit('isActiveInChild', value);
    },
    setActive(value) {
        this.$emit('setActiveInChild', value);
    },
    addProduct() {
        this.$emit('addProductInChild');
    },
    setSeoMetaTag(value) {
        this.$emit('setSeoMetaTagInChild', value);
    },
    setSeoDesc(value) {
        this.$emit('setSeoDescInChild', value);
    },
    onFileChange(e) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            // this.createImage(files[0]);
            var fileName = files[0].name;
            var re = /(?:\.([^.]+))?$/;
            var ext = re.exec(fileName)[1];
            if(this.supported_extension.indexOf(ext) == -1){                
                this.$toaster.error('We accept only JPG, PNG and GIF files.')
                return;
            }
            this.file = files[0];
            console.log(this.file);
            this.setFile(this.file);
            },
            setFile(value){
              console.log('seovalue',value)
        this.$emit('setFileInchild', value);
            }
  },
  watch:{
    product(newVal, oldVal){
      this.seo_meta_tag = newVal.seo_meta_tag;
      this.seo_desc = newVal.seo_desc;
    }
  },
  props: ["product", "errors", 'edit'],
};
</script>
